# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import matplotlib 
import matplotlib.pyplot as plt
import numpy as np

data_balt = pd.read_csv("baltimore_9-24-2016_9-30-2017.csv")
data_bost = pd.read_csv("boston_9-24-2016_9-30-2017.csv")
data_ny = pd.read_csv("new-york_9-24-2016_9-30-2017.csv")
data_phil = pd.read_csv("philadelphia_9-24-2016_9-30-2017.csv")

In [2]:
data_balt.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [3]:
data_bost.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [4]:
data_ny.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [5]:
data_phil.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [6]:
# Clean your data here!
for col in data_bost.columns:
    pct_missing = np.mean(data_bost[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [7]:
total_cells = np.product(data_bost.shape)

missing_cells = pd.isnull(data_bost).sum()

total_missing = missing_cells.sum()

percentage_missing = round((total_missing/total_cells), 2) *100

print(percentage_missing, "% Missing cells from the data")

47.0 % Missing cells from the data

In [8]:
data_bost["Type"] = data_bost["Type"].fillna("Conventional")

In [9]:
data_bost["Color"] = data_bost["Color"].fillna("ORANGE")

In [10]:
data_bost = data_bost.drop(["Grade","Sub Variety","Origin District","Environment","Unit of Sale","Quality","Condition","Appearance","Storage","Crop","Trans Mode"],axis=1)

In [11]:
for col in data_bost.columns:
    pct_missing = np.mean(data_bost[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 0%
Package - 0%
Variety - 0%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Item Size - 1%
Color - 0%
Repack - 0%

In [12]:
for col in data_balt.columns:
    pct_missing = np.mean(data_balt[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [13]:
data_balt = data_balt.drop(["Grade","Sub Variety","Origin District","Environment","Unit of Sale","Quality","Condition","Appearance","Storage","Crop","Trans Mode"],axis=1)

In [14]:
data_balt["Type"] = data_balt["Type"].fillna("Conventional")

In [15]:
data_balt["Color"] = data_balt["Color"].fillna("ORANGE")

In [16]:
for col in data_balt.columns:
    pct_missing = np.mean(data_balt[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 0%
Package - 0%
Variety - 1%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Item Size - 16%
Color - 0%
Repack - 0%

In [17]:
total_cells = np.product(data_balt.shape)

missing_cells = pd.isnull(data_balt).sum()

total_missing = missing_cells.sum()

percentage_missing = round((total_missing/total_cells), 2) *100

print(percentage_missing, "% Missing cells from the data")

1.0 % Missing cells from the data

In [18]:
for col in data_ny.columns:
    pct_missing = np.mean(data_ny[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [19]:
data_ny = data_ny.drop(["Grade","Sub Variety","Origin District","Environment","Unit of Sale","Quality","Condition","Appearance","Storage","Crop","Trans Mode"],axis=1)

In [20]:
data_ny["Type"] = data_ny["Type"].fillna("Conventional")

In [21]:
data_ny["Color"] = data_ny["Color"].fillna("ORANGE")

In [22]:
for col in data_ny.columns:
    pct_missing = np.mean(data_ny[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 0%
Package - 0%
Variety - 0%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Item Size - 7%
Color - 0%
Repack - 0%

In [23]:
total_cells = np.product(data_ny.shape)

missing_cells = pd.isnull(data_ny).sum()

total_missing = missing_cells.sum()

percentage_missing = round((total_missing/total_cells), 2) *100

print(percentage_missing, "% Missing cells from the data")

1.0 % Missing cells from the data

In [24]:
for col in data_phil.columns:
    pct_missing = np.mean(data_phil[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [25]:
data_phil = data_phil.drop(["Grade","Sub Variety","Origin District","Environment","Unit of Sale","Quality","Condition","Appearance","Storage","Crop","Trans Mode"],axis=1)

In [26]:
data_phil["Type"] = data_phil["Type"].fillna("Conventional")

In [27]:
data_phil["Color"] = data_phil["Color"].fillna("ORANGE")

In [28]:
for col in data_phil.columns:
    pct_missing = np.mean(data_phil[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 0%
Package - 0%
Variety - 0%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Item Size - 21%
Color - 0%
Repack - 0%

In [29]:
total_cells = np.product(data_phil.shape)

missing_cells = pd.isnull(data_phil).sum()

total_missing = missing_cells.sum()

percentage_missing = round((total_missing/total_cells), 2) *100

print(percentage_missing, "% Missing cells from the data")

2.0 % Missing cells from the data

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [30]:
data_balt.shape

(153, 14)

In [31]:
data_bost.shape

(352, 14)

In [32]:
data_ny.shape

(112, 14)

In [33]:
data_phil.shape

(57, 14)

In [34]:
# Combine the four dataframes into one!
northeast_region = pd.concat([data_balt, data_bost, data_ny, data_phil])
northeast_region.head(60)

,Commodity Name,City Name,Type,Package,Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Repack
0,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,ORANGE,E
1,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,ORANGE,E
2,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,DELAWARE,med,ORANGE,N
3,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,ORANGE,N
4,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,ORANGE,N
5,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,11/12/2016,90,100.0,90,100.0,MARYLAND,lge,ORANGE,N
6,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,09/24/2016,160,170.0,160,170.0,MARYLAND,med,ORANGE,N
7,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,PENNSYLVANIA,lge,ORANGE,N
8,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,10/01/2016,160,170.0,160,170.0,MARYLAND,med,ORANGE,N
9,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,10/01/2016,160,160.0,160,160.0,PENNSYLVANIA,lge,ORANGE,N
10,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,10/08/2016,160,170.0,160,170.0,MARYLAND,med,ORANGE,N
11,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,10/08/2016,160,160.0,160,160.0,PENNSYLVANIA,lge,ORANGE,N
12,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,10/15/2016,150,160.0,150,160.0,MARYLAND,lge,ORANGE,N
13,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,10/15/2016,150,170.0,150,170.0,MARYLAND,med,ORANGE,N
14,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,10/22/2016,150,160.0,150,160.0,MARYLAND,lge,ORANGE,N
15,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,10/22/2016,140,160.0,140,160.0,MARYLAND,med,ORANGE,N
16,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,10/29/2016,100,160.0,100,160.0,MARYLAND,lge,ORANGE,N
17,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,10/29/2016,130,160.0,130,160.0,MARYLAND,med,ORANGE,N
18,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,10/29/2016,130,130.0,130,130.0,MARYLAND,sml,ORANGE,N
19,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,11/05/2016,120,130.0,120,130.0,MARYLAND,xlge,ORANGE,N
20,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,11/05/2016,100,130.0,100,130.0,MARYLAND,lge,ORANGE,N
21,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,11/05/2016,90,100.0,90,100.0,MARYLAND,med,ORANGE,N
22,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,11/12/2016,100,120.0,100,100.0,MARYLAND,lge,ORANGE,N
23,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,09/16/2017,160,160.0,160,160.0,MARYLAND,med-lge,ORANGE,N
24,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,09/23/2017,160,160.0,160,160.0,MARYLAND,med-lge,ORANGE,N
25,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,09/30/2017,150,160.0,150,160.0,MARYLAND,lge,ORANGE,N
26,PUMPKINS,BALTIMORE,Conventional,36 inch bins,HOWDEN TYPE,09/30/2017,150,160.0,150,160.0,MARYLAND,med-lge,ORANGE,N
27,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN WHITE TYPE,09/23/2017,160,180.0,160,180.0,MARYLAND,med,ORANGE,N
28,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN WHITE TYPE,09/30/2017,180,180.0,180,180.0,MARYLAND,med,ORANGE,N
29,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,06/03/2017,380,380.0,380,380.0,NaN,xlge,ORANGE,E
30,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,06/10/2017,380,380.0,380,380.0,NaN,xlge,ORANGE,E
31,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,06/17/2017,380,380.0,380,380.0,NaN,xlge,ORANGE,E
32,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,08/19/2017,200,200.0,200,200.0,MEXICO,xlge,ORANGE,N
33,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,08/26/2017,200,350.0,200,350.0,MEXICO,xlge,ORANGE,N
34,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,09/02/2017,350,350.0,350,350.0,MEXICO,xlge,ORANGE,N
35,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,09/09/2017,180,180.0,180,180.0,MARYLAND,xlge,ORANGE,N
36,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,09/09/2017,200,200.0,200,200.0,VIRGINIA,xlge,ORANGE,N
37,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,09/16/2017,180,200.0,180,200.0,MARYLAND,xlge,ORANGE,N
38,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,09/16/2017,180,200.0,180,200.0,VIRGINIA,xlge,ORANGE,N
39,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,09/23/2017,340,340.0,340,340.0,MARYLAND,jbo,ORANGE,N
40,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,09/23/2017,240,250.0,240,250.0,MARYLAND,xlge,ORANGE,N
41,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,09/23/2017,200,200.0,200,200.0,VIRGINIA,xlge,ORANGE,N
42,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,09/30/2017,340,340.0,340,340.0,MARYLAND,jbo,ORANGE,N
43,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,09/30/2017,240,250.0,240,250.0,MARYLAND,xlge,ORANGE,N
44,PUMPKINS,BALTIMORE,Conventional,24 inch bins,CINDERELLA,09/30/2017,180,200.0,180,200.0,VIRGINIA,xlge,ORANGE,N
45,PUMPKINS,BALTIMORE,Conventional,50 lb sacks,CINDERELLA,08/12/2017,29,29.0,29,29.0,COSTA RICA,lge,ORANGE,N
46,PUMPKINS,BALTIMORE,Conventional,50 lb sacks,CINDERELLA,08/12/2017,29,29.0,29,29.0,MEXICO,lge,ORANGE,N
47,PUMPKINS,BALTIMORE,Conventional,50 lb sacks,CINDERELLA,08/19/2017,28,29.0,28,29.0,COSTA RICA,lge,ORANGE,N
48,PUMPKINS,BALTIMORE,Conventional,50 lb sacks,CINDERELLA,08/26/2017,28,29.0,28,29.0,COSTA RICA,lge,ORANGE,N
49,PUMPKINS,BALTIMORE,Conventional,50 lb sacks,CINDERELLA,08/26/2017,29,29.0,29,29.0,FLORIDA,med,ORANGE,N
50,PUMPKINS,BALTIMORE,Conventional,50 lb sacks,CINDERELLA,09/02/2017,29,29.0,29,29.0,FLORIDA,med,ORANGE,N
51,PUMPKINS,BALTIMORE,Conventional,50 lb sacks,CINDERELLA,09/09/2017,15,15.0,15,15.0,VIRGINIA,lge,ORANGE,N
52,PUMPKINS,BALTIMORE,Conventional,50 lb sacks,CINDERELLA,09/16/2017,24,24.0,24,24.0,MEXICO,lge,ORANGE,N
53,PUMPKINS,BALTIMORE,Conventional,50 lb sacks,CINDERELLA,09/16/2017,15,15.0,15,15.0,VIRGINIA,lge,ORANGE,N
54,PUMPKINS,BALTIMORE,Conventional,24 inch bins,FAIRYTALE,09/24/2016,250,260.0,250,260.0,MARYLAND,xlge,ORANGE,N
55,PUMPKINS,BALTIMORE,Conventional,24 inch bins,FAIRYTALE,09/24/2016,250,260.0,250,260.0,VIRGINIA,xlge,ORANGE,N
56,PUMPKINS,BALTIMORE,Conventional,24 inch bins,FAIRYTALE,10/01/2016,250,260.0,250,260.0,MARYLAND,xlge,ORANGE,N
57,PUMPKINS,BALTIMORE,Conventional,24 inch bins,FAIRYTALE,10/01/2016,250,260.0,250,260.0,VIRGINIA,xlge,ORANGE,N
58,PUMPKINS,BALTIMORE,Conventional,24 inch bins,FAIRYTALE,10/08/2016,235,260.0,235,260.0,MARYLAND,xlge,ORANGE,N
59,PUMPKINS,BALTIMORE,Conventional,24 inch bins,FAIRYTALE,10/08/2016,250,260.0,250,260.0,VIRGINIA,xlge,ORANGE,N

In [35]:
northeast_region.shape

(674, 14)

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [36]:
northeast_type_price = northeast_region.groupby('Type')

In [38]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
northeast_region_dictionary = {'Low Price':['mean'], "High Price":['mean']}
northeast_price = northeast_type_price.agg(northeast_region_dictionary)
northeast_price

               Low Price  High Price
                    mean        mean
Type
Conventional  134.183976  150.671365

In [51]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [ ]:
# Try the bonus mission if you have time!